# etcd configuration file

name: "{{ ansible_hostname }}"
data-dir: /var/lib/etcd
wal-dir: /var/lib/etcd/wal
snapshot-count: 10000
heartbeat-interval: 100
election-timeout: 1000
listen-peer-urls: http://{{ ansible_hostname }}:2380
listen-client-urls: http://{{ ansible_hostname }}:2379,http://127.0.0.1:2379
initial-advertise-peer-urls: http://{{ ansible_hostname }}:2380
advertise-client-urls: http://{{ ansible_hostname }}:2379
initial-cluster-token: etcd-cluster-1
initial-cluster: "postgres-node-1=http://192.168.122.156:2380,postgres-node-2=http://192.168.122.225:2380,postgres-node-3=http://192.168.122.171:2380"
initial-cluster-state: new
